
* {
  box-sizing: border-box;
}

p {
	display: inline-block;
	margin: 4px;
}

h1 {
    font-size: 4.0em;
    margin-top: 26px;
    margin-bottom: 41px;
}

h2 {
	font-size: 2.0em;
	margin-top: 21px;
	margin-bottom: 21px;
}

h3 {
	font-size: 1.5em;
	margin-top: 16px;
	margin-bottom: 16px;
}

h4 {
	font-size: 1.0em;
	margin-top: 11px;
	margin-bottom: 11px;
}

h5 {
	font-size: 0.5em;
	margin-top: 6px;
	margin-bottom: 6px;
}

ul {
	list-style-position: inside;
}

li:not(:last-child) {
	margin-bottom: 10px;
}

input[type=text], input[type=number] {
	text-align: center;
	height: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
	background-color: #f1f1f1;
    font-family: HelveticaNeueRegular, HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
}

header {
	text-align: center;
	background-color: yellowgreen;
	border: solid;
	border-width: 5px;
	border-color: black;
}

header .buttons {
	text-align: right;
	margin: 10px;
}

header h1 {
	color: #4E270A;
}

header .row {
	background-color: powderblue;
	border: solid;
	border-width: 2px;
	border-color: black;
	margin: 2px;
}

.information_box {
    background: #E1E1E1;
    border: solid;
    border-width: 5px;
    border-color: black;
    padding: 15px;
    margin-top: 3px;
}

#sensor_0 {
	text-align: center;
	font-style: italic;
}

#CONFIGURATIONS input[type=text], #CONFIGURATIONS input[type=number] {
	width: 100%;
}

#SENSORS input[type=text], #SENSORS input[type=number] {
	width: 35%;
}

#OTA {
	text-align: center;
}

#sensor_deployment_header {
	padding: 5px;
    margin-bottom: 10px;
    background-color: white;
	border: inset;
	border-width: 4px;
}

.form_row {
	margin: 10px;
}

#sensor_form {
	font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 10px;
    width: 25%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    background-color: white;
    border: solid;
	border-width: 2px;
	border-color: black;
}

#sensor_form h2 {
	text-decoration-line: underline;
}

#gpios_notes {
	padding: 20px;
	background: rgba(0, 0, 128, 0.1);
	border: solid;
	border-width: 2px;
	border-color: blue;
}

#warning_notes {
	padding: 20px;
	background: rgba(128, 0, 0, 0.1);
	border: solid;
	border-width: 2px;
	border-color: red;
}

.sensor {
	text-align: center;
	border: outset;
	border-width: 4px;
	padding: 2px;
	margin: 2px;
}

.sensor_header h4 {
	margin: 3px;
}

.sensor_unit {
	margin: 3px;
	padding: 3px;
	background-color: white;
	border: solid;
	border-width: 3px;
	border-color: black;
}

.sensor_unit_header, .alert_value_name {
	font-weight: bold;
}

.value_block {
	margin: 2px;
	color: white;
	outline: solid;
	outline-width: 2px;
	outline-color: black;
}

.calm {
	background-color: LightSlateGrey;
}

.alert {
	background-color: DarkRed;
}

.sensor_alerts {
	background: LightGoldenRodYellow;
	margin-left: 3px;
	margin-right: 3px;
	border: solid;
	border-width: 3px;
	border-color: black;
}

#latest_firmware, #latest_firmware_label , .configuration{
	display: inline;
}

input[type="button"] {
	font-size: 12px;
	border: 0;
    line-height: 2;
    padding: 0 5px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: RGBA(106,125,144,0.35);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

input[type="button"]:hover {
    background-color: RGBA(112,164,222,0.68);
}

input[type="button"]:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

input[type="button"][disabled="disabled"] {
	background-color: rgba(106,125,144,0.35);
	
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
    
    color: rgba(255,255,255,0.5);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
